
<h1> Games</h1>

<form action="/games/games" method="GET">
    <label for="gameName">Search favorite games</label>
    <input type="text" name="name" id="gameName">

    <input type="submit">
</form>

<div class="container">
    <% gameInfo.forEach(game=>{ %>
    <div class="game_list">
        <h4><%= game.name %></h3> <br>
        <img style="align-self: center;" src = <%= game.images.small %> width="100"  > <br>
            Players: <%=game.min_players%> - <%=game.max_players%> <br>
            Play time: <%=game.min_playtime%>min - <%=game.max_playtime%>min
            <input hidden type="text" name="name" value="<%= game.name %>"> <br>
            <a href="<%= game.name %>"> View Game Info</a> <br>
            <form method="POST" action="/library">
                <button class="btn btn-primary" type="submit"> + Add to Game Library</button>
              </form>
    </div>
<%}) %> 
</div>

