
<h1> Games</h1>

<form action="/games/games" method="GET">
    <label for="gameName">Search favorite games</label>
    <input type="text" name="name" id="gameName">

    <input type="submit">
</form>

<div class="container">
    <% gameInfo.forEach(game=>{ %>
    <div class="game_list">
        <h4><%= game.name %></h3> <br>
        <img style="align-self: center;" src = <%= game.images.small %> width="100"  > <br>
            Players: <%=game.min_players%> - <%=game.max_players%> <br>
            Play time: <%=game.min_playtime%>min - <%=game.max_playtime%>min
            <a href="/games/<%= game.name %>"> View Game Info</a> <br>
            <form method="POST" action="/games/library">
                <input hidden type="text" name="name" value="<%= game.name %>"> <br>
                <input hidden type="text" name="description" value="<%= game.description_preview %>"> <br>
                <input hidden type="text" name="picture" value="<%= game.images.small %>"> <br>
                <input hidden type="text" name="userName" value="<%= currentUser.name %>"> <br>
                <input hidden type="text" name="userId" value="<%= currentUser.id %>"> <br>
                <button class="btn btn-primary" type="submit"> + Add to Game Library</button>
              </form>
    </div>
<%}) %> 
</div>

